html {
    background-color: rgb(196, 255, 228);
}

.title {
    font-size: 50px;
    justify-self: center;
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(50, 104, 59);
}

main {
    background-color: rgb(50, 104, 59);
    text-align: center;
}

ul {
    padding: 0;
    list-style-position: inside;
    text-align: center;
}